<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Products</h3>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Price</th>
                                    <th>Date Create</th>
                                    <th>Date Update</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="product, itemIndex : ${productResponseList}">
                                    <tr>
                                        <td th:text="${product.id}"></td>
                                        <td th:text="${product.name}"></td>
                                        <td>
                                            <th:block th:each="pc : ${product.categories}">
                                                <p th:text="${pc.name}"></p>
                                            </th:block>
                                        </td>
                                        <td th:text="${product.description}"></td>
                                        <td><img th:src="${product.image}"
                                                 style="width: 150px;
                                                             height: 150px;
                                                             border-radius: 50%;
                                                             border-width: 1px;
                                                             border-style: solid;
                                                             object-fit: contain;
                                                            "/></td>
                                        <td th:text="${product.price}"></td>
                                        <td th:text="${product.createdAt}"></td>
                                        <td th:text="${product.updatedAt}"></td>
                                        <td class="project-actions text-center">
                                            <a class="btn btn-info btn-sm"
                                               th:href="@{/products/edit/{id}(id=${product.id})}">
                                                <i class="fas fa-pencil-alt"></i>
                                                Edit
                                            </a>
                                            <a class="btn btn-danger btn-sm"
                                               onclick="return confirm('Are your sure?')"
                                               th:href="@{/products/delete/{id}(id=${product.id})}">
                                                <i class="fas fa-trash"></i>
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
</body>
</html>