<!DOCTYPE html>
<html>
<body>
<span th:text="${cart.getId()}"></span>
<form th:action="@{'/cart/purchase/'+${cart.getId()}}" method="POST">
    <input type="submit" value="purchase"/>
</form>
<form th:action="@{empty}" method="POST">
    <input type="submit" value="empty cart"/>
</form>
</body>
</html>