<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="utf-8">
</head>
<body>
<th:block layout:fragment="content">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-2"></div>
                <div class="col-xl-6 ftco-animate">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Please enter your field all.
                        </div>
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                            You've successfully registered to our awesome app!
                        </div>
                    </div>
                    <form th:action="@{/register}" th:object="${userRequest}" onsubmit="return validateUsername()"
                          class="billing-form" method="post">
                        <h3 class="mb-4 billing-heading">Register</h3>
                        <div class="row align-items-end">
                            <div class="col-md-12">
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('fullName')} ? 'has-error': ''">
                                    <label for="fullName">Full name</label>
                                    <input type="text" id="fullName" name="fullName" th:field="*{fullName}"
                                           class="form-control" placeholder="Please enter your full name...">
                                    <span class="error-message" th:each="error : ${#fields.errors('fullName')}"
                                          th:text="${error}">Validation error</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('username')} ? 'has-error': ''">
                                    <label for="username">User name</label>
                                    <input type="text" id="username" name="username" th:field="*{username}"
                                           class="form-control" placeholder="Please enter your username...">
                                    <span class="error-message" th:each="error : ${#fields.errors('username')}"
                                          th:text="${error}">Validation error</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('email')} ? 'has-error': ''">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" th:field="*{email}" class="form-control"
                                           placeholder="Please enter your email...">
                                    <span class="error-message" th:each="error : ${#fields.errors('email')}"
                                          th:text="${error}">Validation error</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('phone')} ? 'has-error': ''">
                                    <label for="phone">Phone</label>
                                    <input type="text" id="phone" name="phone" th:field="*{phone}" class="form-control"
                                           placeholder="Please enter your phone...">
                                    <span class="error-message" th:each="error : ${#fields.errors('phone')}"
                                          th:text="${error}">Validation error</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('password')} ? 'has-error': ''">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" th:field="*{password}"
                                           class="form-control" placeholder="Please enter your password...">
                                    <span class="error-message" th:each="error : ${#fields.errors('password')}"
                                          th:text="${error}">Validation error</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('confirmPassword')} ? 'has-error': ''">
                                    <label for="confirmPassword">Confirm password</label>
                                    <input type="password" id="confirmPassword" name="confirm_password"
                                           th:field="*{confirmPassword}" class="form-control"
                                           placeholder="Please enter your confirm password...">
                                    <span class="error-message" th:each="error : ${#fields.errors('confirmPassword')}"
                                          th:text="${error}">Validation error</span>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success form-control" value="Register">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xl-2"></div>
            </div>
        </div>
    </section>
</th:block>
</body>

<script th:inline="javascript">
    function validateUsername() {
        var input
        requiredValue = document.forms["registerForm"]["username"].value;
        console.log(btoa(input
        requiredValue
    ))
        ;
        var usernameList = [[${usernames}]];
        var alreadyExist = usernameList.includes(btoa(input
        requiredValue
    ))
        ;
        if (alreadyExist === true) {
            alert("username already exist");
            return false;
        }
        return true;
    }
</script>
</html>