<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Successful Registration</title>
</head>
<body>
Registration successful for user
<span th:text="${user}"></span>
<br> Please login to use our service
<br>
<a href="/login">Login</a>
</body>
</html>