<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Confirm Registration</title>
</head>
<body>
Please confirm registration request sent to
<span th:text="${email}"></span>
</body>
</html>