<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vegefoods Products</title>
    <meta charset="utf-8">
</head>
<body>
<th:block layout:fragment="content">
    <div class="hero-wrap hero-bread" th:style="'background-image: url('+@{/images/bg_1.jpg}+');'">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/index">Home</a></span> <span>Products</span></p>
                    <h1 class="mb-0 bread">Products</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 mb-5 text-center">
                    <ul class="product-category">
                        <th:block th:each="categories : ${categoryResponses}">
                            <li><a class="btn-active active" th:href="'/products/'+${categories.id}"
                                   th:data-category="${categories.id}" th:text="${categories.name}"></a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 ftco-animate" th:each="product, item : ${bodyProduct}">
                    <div class="product">
                        <a th:href="@{/detail/{id}(id=${product.id})}" class="img-prod">
                            <img class="img-fluid" th:src="${product.image}" style="width: 255px;
                                                       height: 150px;
                                                        object-fit: contain;
                                                        text-align: center;" alt="Colorlib Template">
                            <span class="status">30%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a th:href="@{/detail/{id}(id=${product.id})}" th:text="${product.name}"></a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">$ <span class="price-sale" th:text="${product.price}"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#"
                                       class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li class="active">
                                <th:block th:each="i : ${#numbers.sequence(0, pagination.totalPages - 1)}">
                                    <span th:if="${pagination.number == i + 1}" class="selected">[[${i}+1]]</span>
                                    <span th:unless="${pagination.number == i + 1}">
                                            <a th:href="@{/products/}+${id}+@{?(page=${i + 1},limit=${pagination.limit})}">[[${i}+1]]</a>
                                        </span>
                                </th:block>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                    <span>Get e-mail updates about our latest shops and special offers</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>