<!DOCTYPE html>
<html>
<body>
<table>
    <thead>
    <th>Product</th>
    <th>Price</th>
    <th colspan="2">Quantity</th>
    </thead>
    <tbody>

    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td colspan="2">
            <form th:action="@{'/cart/add?productId='+${product.getId()}}"
                  method="post" th:object="${OrderDetailRequest}">
                <input type="number" name="quantity" id="quantity"> <input
                    type="submit" value="ADD">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>