<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vegefoods - Profile</title>
    <meta charset="utf-8">
</head>
<body>
<th:block layout:fragment="content">
    <div class="hero-wrap hero-bread" th:style="'background-image:url('+ @{/images/bg_1.jpg} +');'">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span>
                        <span>Information</span></p>
                    <h1 class="mb-0 bread">Information</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <h2></h2>
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#accounts">Account details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#change-password">Change password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#history">Purchase history</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="dashboard" class="container tab-pane active"><br>
                    <h3></h3>
                    <p>Hello <strong th:text="${#authentication.getName()}"></strong>, (If this is not
                        your account) <strong><a href="/logout">Logout</a></strong></p>
                    <p class="mb-0">From your account dashboard. You can easily checkout look up &
                        View your recent orders, manage shipping addresses and bars
                        your math and edit your password and account details.</p>
                </div>
                <div id="accounts" class="container tab-pane fade">
                    <h3></h3>
                    <div class="row justify-content-center">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-6 ftco-animate">
                            <form action="#" method="post" class="billing-form">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="fullName">Full name</label>
                                            <input type="text" disabled th:field="${response.fullName}" id="fullName"
                                                   name="fullName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" disabled th:field="${response.username}" id="username"
                                                   name="username" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" disabled th:field="${response.phone}" id="phone"
                                                   name="phone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" disabled th:field="${response.email}" id="email"
                                                   name="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-2"></div>
                    </div>
                </div>
                <div id="change-password" class="container tab-pane fade"><br>
                    <h3></h3>
                    <div class="row justify-content-center">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-6 ftco-animate">
                            <form th:action="@{/resetPassword}" th:object="${formDetail}" method="post"
                                  class="billing-form">
                                <div class="row align-items-end">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="oldPassword">Current password</label>
                                            <input type="password" th:field="*{oldPassword}" id="oldPassword"
                                                   name="oldPassword"
                                                   class="form-control"
                                                   placeholder="Please enter your current password...">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="password">New password</label>
                                            <input type="password" th:field="*{password}" id="password" name="password"
                                                   class="form-control" placeholder="Please enter your new password...">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="confirmPassword">Confirm password</label>
                                            <input type="password" th:field="*{confirmPassword}" id="confirmPassword"
                                                   name="confirmPassword"
                                                   class="form-control"
                                                   placeholder="Please enter your confirm password...">
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-success form-control" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-2"></div>
                    </div>
                </div>
                <div id="history" class="container tab-pane fade"><br>
                    <h3></h3>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                                <th>Date create</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>A087656789</td>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                                <td>2020-02-10 04:19:19</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>