<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Orders</h3>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Total price</th>
                                    <th>Date Create</th>
                                    <th>Date Update</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order : ${orders}">
                                    <td th:text="${order.id}"></td>
                                    <td th:text="${order.fullName}"></td>
                                    <td th:text="${order.title}"></td>
                                    <td th:text="${order.address}"></td>
                                    <td th:text="${order.phone}"></td>
                                    <td th:text="${order.totalPrice}"></td>
                                    <td th:text="${order.createdAt}"></td>
                                    <td th:text="${order.updatedAt}"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
</body>
</html>