<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Customers</h3>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full name</th>
                                    <th>User name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Role</th>
                                    <th>Date Create</th>
                                    <th>Date Update</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="user : ${userResponseList}">
                                    <tr>
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.fullName}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.phone}"></td>
                                        <td>
                                            <th:block th:each="userRole : ${user.roles}">
                                                <p th:text="${userRole.role}" class="badge badge-success"></p>
                                            </th:block>
                                        </td>
                                        <td th:text="${user.createdAt}"></td>
                                        <td th:text="${user.updatedAt}"></td>
                                        <td class="project-actions text-center">
                                            <a class="btn btn-info btn-sm"
                                               th:href="@{/user/edit/{id}(id=${user.id})}">
                                                <i class="fas fa-pencil-alt"></i>
                                                Edit
                                            </a>
                                            <a class="btn btn-danger btn-sm"
                                               onclick="return confirm('Are your sure?')"
                                               th:href="@{/user/delete/{id}(id=${user.id})}">
                                                <i class="fas fa-trash"></i>
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
</body>
</html>