<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <link th:href="@{'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700'}" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="card card-info" style="margin-top: 100px;">
                            <div class="card-header">
                                <h3 class="card-title">Administrator Form</h3>
                            </div>
                            <form class="form-horizontal" action="./login-action" method="post">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Account</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="username" class="form-control" id="inputEmail3">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" name="password" class="form-control"
                                                   id="inputPassword3">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div th:if="${param.error}" style="color: red;">Incorrect username and
                                            password
                                        </div>
                                        <button type="submit" class="btn btn-info float-right col-sm-12">Sign in
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </section>
    </div>
</div>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/dist/js/demo.js}"></script>
</body>
</html>