<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Vegefoods</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link th:href="@{'https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap'}"
          rel='stylesheet' type='text/css'>
    <link th:href="@{'https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap'}" rel="stylesheet"
          type="text/css">
    <link th:href="@{'https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap'}" rel="stylesheet"
          type="text/css">
    <link th:href="@{/css/open-iconic-bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/owl.theme.default.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/magnific-popup.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/aos.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/ionicons.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-datepicker.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery.timepicker.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/flaticon.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/icomoon.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body class="goto-here">

<div class="wrapper">
    <nav th:replace="fragment/header :: header"></nav>

    <nav th:replace="fragment/navbar :: navbar"></nav>

    <div layout:fragment="content"></div>

    <div th:replace="fragment/footer :: footer"></div>
</div>

<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-migrate-3.0.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.easing.1.3.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.waypoints.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.stellar.min.js}" type="text/javascript"></script>
<script th:src="@{/js/owl.carousel.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}" type="text/javascript"></script>
<script th:src="@{/js/aos.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.animateNumber.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-datepicker.js}" type="text/javascript"></script>
<script th:src="@{/js/scrollax.min.js}" type="text/javascript"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>
<script th:src="@{/js/plugins.js}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
        });

        $('.quantity-left-minus').click(function (e) {
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            if (quantity > 0) {
                $('#quantity').val(quantity - 1);
            }
        });
    });
</script>
</body>
</html>