<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar"
     th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <a class="navbar-brand" href="/index">Housewives</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/index" class="nav-link">Home</a></li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Shop</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="/products/1">Shop</a>
                        <a class="dropdown-item" href="/checkout">Checkout</a>
                    </div>
                </li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                <li class="nav-item" th:if="${#authentication.getName() == 'anonymousUser'}"><a href="/login"
                                                                                                class="nav-link">Login</a>
                </li>
                <li class="nav-item" th:if="${#authentication.getName() == 'anonymousUser'}"><a href="/register"
                                                                                                class="nav-link">Register</a>
                </li>
                <li class="nav-item active dropdown" th:if="${#authentication.getName() != 'anonymousUser'}">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Information</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="/user-profile">Account details</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span
                        class="icon-shopping_cart"></span>[0]</a></li>
            </ul>
        </div>
    </div>
</nav>